<div class="top__info">
    <h1>4G-скорость &#8212; уже в Минске!</h1>
    <p>Хотите бесплатно прокатиться на #4GтаксиМТС? Сделайте заказ!</p>
    <span>Каждую неделю ― 10 бесплатных поездок для самых оригинальных!</span>
    <a href="#step1" class="btn step1">Сделать заказ</a>
</div>
<div class="top-counter">
    Оформлено заказов: <div class="counter-wrapper"></div>
    <input style="visibility:hidden; position:fixed" class="counter-input" value="00110" type="text">
</div>
<div class="top-anchors">
    <a href="/members" class="top-anchors__item">Все участники</a>
    <a href="/winners" class="top-anchors__item">Победители недели</a>
</div>
<a href="#smartphone" class="scroll-icon scroll"></a>