<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МТС 4G</title>

     <link rel="icon" href="../img/favicon.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href="../js/vendors/slick/slick.css" rel="stylesheet">
    <link href="../js/vendors/fancybox/jquery.fancybox.css" rel="stylesheet">
     <link href="../js/vendors/croppic/croppic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>