
			<section class="page-content">
				<div class="container">
					<div class="actions">
						<h2 class="title">Специальные предложения МТС для 4G</h2>
						<div class="action-item">
							<h5>акция 4g безлимит</h5>
							<p>
								Сколько стоит попробовать 4G? – Нисколько!
							</p>
							<p>
								С 17.12.2015 по 29.02.2016 трафик 4G не будет тарифицироваться:
							</p>
							<ul>
								<li>
									для клиентов на тарифах «МТС СМАРТ», «МТС СМАРТ+», «ULTRA»,
								</li>
								<li>
									 для корпоративных клиентов на тарифах «СМАРТ ОФИС midi», «СМАРТ ОФИС maxi», «СМАРТ ОФИС ultra»,
								</li>
								<li>
									и всех, у кого подключена услуга «Инет 2», «Инет 4» или «Инет 6».
								</li>
							</ul>
							<p>
								Принять участие в акции или отказаться от нее можно путем подключения соответствующих тарифных планов или услуг.
							</p>
						</div>
						<div class="action-item">
							<h5>НЕОГРАНИЧЕННЫЙ ОБЪЁМ ТРАФИКА НА ТАРИФАХ «МТС СМАРТ»</h5>
							<p>
								Чтобы наслаждаться скоростью 4G, не считая трафик, подключитесь на тарифы МТС СМАРТ по 31 января 2016 и получите безлимит на 3 месяца!
							</p>
							<table>
								<tr>
									<th>Тарифы</th>
									<th>МТС-СМАРТ mini</th>
									<th>МТС СМАРТ</th>
									<th>МТС СМАРТ+</th>
								</tr>
								<tr>
									<td>Мобильный интернет, МБ/мес</td>
									<td><span class="infinity"></span> МБ/мес.&sup1;</td>
									<td><span class="infinity"></span> МБ/мес.&sup1;</td>
									<td><span class="infinity"></span> МБ/мес.&sup1;</td>
								</tr>
								<tr>
									<td>Пакет минут в сети МТС, мин/мес</td>
									<td><span class="sum">500</span> мин/мес</td>
									<td><span class="sum">1000</span> мин/мес</td>
									<td><span class="sum">2000</span> мин/мес</td>
								</tr>
								<tr>
									<td class="month">Ежежмесяченая плата, руб/мес</td>
									<td class="month"><span class="sum">29 900</span>руб/мес&sup2;</td>
									<td class="month"><span class="sum">49 900</span>руб/мес&sup2;</td>
									<td class="month"><span class="sum">89 900</span>руб/мес&sup2;</td>
								</tr>
							</table>
							<div class="footnote-item">
								&sup1; Мобильный интернет в неограниченном объеме предоставляется новым клиентам и тем, кто перешел на тарифы «МТС СМАРТ», в течение 3-х календарных месяцев со дня присоединения к акции «Интернет non-stop». Скорость интернет-соединения снижается до 256 Кбит/с при достижении суточной квоты 100 МБ для клиентов тарифа «МТС СМАРТ mini», 200 МБ для клиентов тарифа «МТС СМАРТ» и 300 МБ для клиентов тарифа «МТС СМАРТ+» и действует до окончания текущих суток.
							</div>
							<div class="footnote-item">
								 &sup2; Скидка на абонплату предоставляется новым клиентам МТС в первые 3 календарных месяца со дня присоединения к акции «Интернет non-stop». Ежемесячная плата без скидки на тарифе «МТС СМАРТ mini» составляет 69 900 руб/мес; на тарифе «МТС СМАРТ» — 109 900 руб/мес; на тарифе «МТС СМАРТ+» — 179 900 руб/мес.
							</div>
						</div>
						<h5>Вы уже клиент МТС и хотите перейти на тариф «МТС СМАРТ»? Наберите со своего смартфона:</h5>
						<p>
							*825# <span class="tube"></span>— для подключения на тариф «МТС СМАРТ mini»;
						</p>
						<p>
							*830# <span class="tube"></span>— для подключения на тариф «МТС СМАРТ»;
						</p>
						<p>
							*835# <span class="tube"></span>— для подключения на тариф «МТС СМАРТ+»;
						</p>
					</div>
				</div>
			</section>
			<!--FOOTER-->		
