
    <!--HEADER-->

    <section class="phone-select" id="smartphone">
        <div class="container">
            <h2>Переходите на 4G-скорость &#8212; <br> выбирайте 4G-смартфон</h2>
            <div class="phone-slider-wrap">
                <div class="phone-slider">
                    <div class="phone-slider__item">
                        <div class="phone-title">
                            Microsoft Lumia 640
                        </div>
                        <div class="phone-img">
                            <img src="../img/content/lumia540.png" alt="">
                            <div class="phone-img__inner">
                                <img src="../img/content/phone-icon1.png" alt="">
                            </div>
                        </div>
                        <ul class="advantages-list advantages-list__left">
                            <li class="advantages-list__item">
											<span class="icon">
												<img src="../img/content/4g.png" alt="">
											</span>
											<span class="advantages-list__text">
												Поддержка
											</span>
                            </li>
                            <li class="advantages-list__item">
											<span class="icon">
												<img src="../img/content/display.png" alt="">
											</span>
											<span class="advantages-list__text">
												Дисплей 5.7&#34;
											</span>
                            </li>
                            <li class="advantages-list__item">
											<span class="icon">
												<img src="../img/content/sim.png" alt="">
											</span>
											<span class="advantages-list__text">
												2 SIM-карты
											</span>
                            </li>
                        </ul>
                        <ul class="advantages-list advantages-list__right">
                            <li class="advantages-list__item">
											<span class="icon">
												<img src="../img/content/camera.png" alt="">
											</span>
											<span class="advantages-list__text">
												Камера 13 Мп
											</span>
                            </li>
                            <li class="advantages-list__item">
											<span class="icon">
												<img src="../img/content/accum.png" alt="">
											</span>
											<span class="advantages-list__text">
												Аккумулятор 3000 mAh
											</span>
                            </li>
                        </ul>
                        <div class="phone-message">
                            Первый платёж 730 000 руб.
                        </div>
                    </div>
                    <div class="phone-slider__item">
                        <div class="phone-title">
                            Microsoft Lumia 540
                        </div>
                        <div class="phone-img">
                            <img src="../img/content/lumia640.png" alt="">
                            <div class="phone-img__inner">
                                <img src="../img/content/phone-icon1.png" alt="">
                            </div>
                        </div>
                        <ul class="advantages-list advantages-list__left">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/4g.png" alt=""></span>
                                <span class="advantages-list__text">Поддержка</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/display.png" alt=""></span>
                                <span class="advantages-list__text">Дисплей 3.7&#34;</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/sim.png" alt=""></span>
                                <span class="advantages-list__text">1 SIM-карта</span>
                            </li>
                        </ul>
                        <ul class="advantages-list advantages-list__right">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/camera.png" alt=""></span>
                                <span class="advantages-list__text">Камера 18 Мп</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/accum.png" alt=""></span>
                                <span class="advantages-list__text">Аккумулятор 1000 mAh</span>
                            </li>
                        </ul>
                        <div class="phone-message">
                            Без рассрочки!
                        </div>
                    </div>
                    <div class="phone-slider__item">
                        <div class="phone-title">
                            Samsung
                        </div>
                        <div class="phone-img">
                            <img src="../img/content/samsung.png" alt="">
                            <div class="phone-img__inner">
                                <img src="../img/content/phone-icon1.png" alt="">
                            </div>
                        </div>
                        <ul class="advantages-list advantages-list__right">
                            <li class="advantages-list__item"><span class="icon"><img src="../img/content/camera.png" alt=""></span><span class="advantages-list__text">Камера 1 Мп</span></li>
                            <li class="advantages-list__item"><span class="icon"><img src="../img/content/accum.png" alt=""></span><span class="advantages-list__text">Аккумулятор 20 mAh</span></li>
                        </ul>
                        <ul class="advantages-list advantages-list__left">
                            <li class="advantages-list__item"><span class="icon"><img src="../img/content/4g.png" alt=""></span><span class="advantages-list__text">Без поддержки</span></li>
                            <li class="advantages-list__item"><span class="icon"><img src="../img/content/display.png" alt=""></span><span class="advantages-list__text">Дисплей 1.7&#34;</span></li>
                            <li class="advantages-list__item"><span class="icon"><img src="../img/content/sim.png" alt=""></span><span class="advantages-list__text">Ни одной SIM-карты</span></li>
                        </ul>
                        <div class="phone-message">
                            Без рассрочки!
                        </div>
                    </div>
                    <div class="phone-slider__item">
                        <div class="phone-title">
                            Lenovo
                        </div>
                        <div class="phone-img">
                            <img src="../img/content/lenovo.png" alt="">
                            <div class="phone-img__inner">
                                <img src="../img/content/phone-icon1.png" alt="">
                            </div>
                        </div>
                        <ul class="advantages-list advantages-list__left">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/4g.png" alt=""></span>
                                <span class="advantages-list__text">Поддержка</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/display.png" alt=""></span>
                                <span class="advantages-list__text">Дисплей 3.7&#34;</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/sim.png" alt=""></span>
                                <span class="advantages-list__text">1 SIM-карта</span>
                            </li>
                        </ul>
                        <ul class="advantages-list advantages-list__right">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/camera.png" alt=""></span>
                                <span class="advantages-list__text">Камера 18 Мп</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/accum.png" alt=""></span>
                                <span class="advantages-list__text">Аккумулятор 1000 mAh</span>
                            </li>
                        </ul>
                        <div class="phone-message">
                            Без рассрочки!
                        </div>
                    </div>
                    <div class="phone-slider__item">
                        <div class="phone-title">
                            Microsoft Lumia 540
                        </div>
                        <div class="phone-img">
                            <img src="../img/content/unnamed.png" alt="">
                            <div class="phone-img__inner">
                                <img src="../img/content/phone-icon1.png" alt="">
                            </div>
                        </div>
                        <ul class="advantages-list advantages-list__left">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/4g.png" alt=""></span>
                                <span class="advantages-list__text">Поддержка</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/display.png" alt=""></span>
                                <span class="advantages-list__text">Дисплей 3.7&#34;</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/sim.png" alt=""></span>
                                <span class="advantages-list__text">1 SIM-карта</span>
                            </li>
                        </ul>
                        <ul class="advantages-list advantages-list__right">
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/camera.png" alt=""></span>
                                <span class="advantages-list__text">Камера 18 Мп</span>
                            </li>
                            <li class="advantages-list__item">
                                <span class="icon"><img src="../img/content/accum.png" alt=""></span>
                                <span class="advantages-list__text">Аккумулятор 1000 mAh</span>
                            </li>
                        </ul>
                        <div class="phone-message">
                            Без рассрочки!
                        </div>
                    </div>
                </div>
                <div class="phone-slider__arrows">
                    <a href="#" class="phone-slider__prev"></a>
                    <a href="#" class="phone-slider__next"></a>
                </div>
                <div id="phone-loader"></div>
            </div>
        </div>
        <a href="http://shop.mts.by/" target="blank" class="btn btn--phone">Купить в интернет-магазине</a>
    </section>
    <section class="questions" id="questions">
        <div class="container">
            <h2>У вас появились вопросы?<br>У нас уже готовы ответы!</h2>
            <div class="questions-accord questions-accord--short">
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Что такое 4G?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
							<span class="answer">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
							</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    В каких городах Беларуси есть 4G?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
							<span class="answer">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
							</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как проверить ест ли 4G у меня в смартфоне?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
							<span class="answer">
								Это должно быть описано в спецификации телефона. Иногда указание на поддержку LTE есть даже в названии смартфона. В салоне связи вам это тоже подскажут, в службе поддержки оператора должны подсказать.
							</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    В каких городах Беларуси есть 4G?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
							<span class="answer">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
							</span>
                </a>
            </div>
            <div class="ask">
                <div class="ask__left">
                    <h4>Появились еще вопросы?</h4>
                    Напишите в нашу онлайн-поддержку <a href="mailto:help.mts.by">help.mts.by</a>
                </div>
                <a href="https://help.mts.by/hc/ru/requests/new " class="btn">Задать вопрос</a>
            </div>
        </div>
    </section>


    <!--POPUPS-->
    <div id="step1" class="steps">
        <form action="" id="form_step1" method="post">
            <h4><span>Шаг 1.</span>Подробности заказа</h4>
            <div class="choose">
                <div class="radio-wrap">
                    <input id="romantic" name="type" value="1" type="radio" checked="checked">
                    <label for="romantic" class="romantic"><i></i>Романтический</label>
                </div>
                <div class="radio-wrap">
                    <input id="real" name="type" value="2" type="radio">
                    <label for="real" class="real"><i></i>Реальный</label>
                </div>
                <div class="radio-wrap">
                    <input id="fantastic" name="type" value="3"  type="radio">
                    <label for="fantastic" class="fantastic"><i></i>Фантастический</label>
                </div>
                <div class="radio-wrap">
                    <input id="solemn" name="type" value="4"  type="radio">
                    <label for="solemn" class="solemn"><i></i>Торжественный</label>
                </div>
            </div>
            <p>
                Авторы самых убедительных поводов смогут бесплатно прокатиться на #4GтаксиМТС!
            </p>
            <div>
                <div class="textarea-wrap">
                    <textarea name="message" maxlength = "70" placeholder="Например: Я хочу прокатить  любимую на 4Gтакси!"></textarea>
                    <span class="warning">Максимум — 70 символов</span>
                </div>
            </div>
            <a href="#" class="btn" onclick="StepOne()">Продолжить</a> <!--#step2-->
            <a href="#step2" class="step2" style="display:none;">Продолжить</a>
        </form>
    </div>


    <div id="step2" class="steps" >
        <h4><span>Шаг 2.</span>Загрузите фото</h4>
        <form id="form_step2">
          <input type="hidden" id="id_input_step2" value="">
        <div class="download">
            <div id="dropBox">
                <div class="dropbox-info">
                    Используйте стандартное фото для оформления или добавьте своё:
                    <div class="download-anchor">
                        <label class="mybutton" for="fileupload">загрузите</label>
                        <input class="fileupload" id="fileupload" type="file"/>
                    </div>
                    его или перетащите в это окно
                    <p id="fileinfo"><span></span></p>
                </div>
            </div>
            <div class="download-info">
                <div class="download-info__text" id="step2-info__text">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах
                </div>
            </div>
        </div></form>

        <a href="#step1" class="back step1">Назад</a>

        <a href="#step3" class="btn step3">Оформить заказ</a>
    </div>


    <div id="step3" class="steps">
        <h4><span>Шаг 3.</span>Поделитесь</h4>
        <p>
            Чтобы подтвердить заказ, отправьте его себе на стену в социальную сеть
        </p>
        <a href="#step4" class="btn vk step4">ВКонтакте</a>
        <span class="or">или</span>
        <!--<a href="#step4" class="btn fb step4">Facebook</a>-->
        <a href="#" onclick="shareFB()"
           class="btn fb">Facebook</a>
    </div>




    <div id="step4" class="steps">
        <h4><span>Шаг 4.</span>Отлично, заказ отправлен!</h4>
        <p>
            Впишите номер телефона, чтобы мы могли связаться с вами:
        </p>
        <input type="text" name="phone" placeholder="+375">
        <p class="number-information">
            Указанный номер будет использован только в рамках данной акции для связи с победителями и не будет использован для рекламных SMS-рассылок.
        </p>
        <a href="#step5" class="step5 btn">Отправить номер</a>
    </div>
    <div id="step5" class="steps">
        <h4 class="final">Присоединяйтесь к нам!</h4>
        <p>
            Присоединяйтесь к нам, чтобы следить за ходом проекта:
        </p>
        <div class="vidgets">
            <div class="vidgets__item">
                <img src="../img/content/vidget1.jpg" alt="">
            </div>
            <div class="vidgets__item">
                <img src="../img/content/vidget2.jpg" alt="">
            </div>
        </div>
        <p class="final-phrase">
            Выбираем победителей каждую неделю!  
            Каждую неделю можно оформить новый заказ!
        </p>
    </div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '129128417456746',
                xfbml      : true,
                version    : 'v2.5'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));




    </script>