<section class="page-content">
    <div class="container">
        <h2 class="title">Все участники</h2>
        <div class="members-list">
            <a href="#member1" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Павел Рутко</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member2" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member3" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer3.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member4" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer4.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member5" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member6" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member7" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer3.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member8" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer4.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member9" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member10" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member11" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer3.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#member12" rel="members-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="../img/content/customer4.jpg" alt="">
                    </div>
                </div>
            </a>
            <div class="pagination">
                <span class="pagination__item pagination__item--prev">Назад</span>
                <span class="pagination__item">1</span>
                <a href="#" class="pagination__item">2</a>
                <a href="#" class="pagination__item">3</a>
                <a href="#" class="pagination__item">4</a>
                <a href="#" class="pagination__item">5</a>
                <a href="#" class="pagination__item pagination__item--next">Вперед</a>
            </div>
        </div>
    </div>
</section>


<!-- what is it? ??-->
<!--POPUPS-->
<div class="dnone">
    <div id="member1" class="member">
        <h4>Заказчик: <span>Павел Рутко</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="/#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member2" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member3" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member4" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member5" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member6" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member7" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member8" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member9" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member10" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member11" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="member12" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="../img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
</div>