<section class="page-content">
    <div class="container">
        <div class="specification">
            <h2 class="title">Правила и условия</h2>

            <div class="time">
                <div class="time__item">
                    <div class="time__item-left">Сроки проведения творческого конкурса:</div>
                    <div class="time__item-right">
                        17 декабря 2015 года &#8212; 14 марта 2016 года
                    </div>
                </div>
                <div class="time__item">
                    <div class="time__item-left">Сроки приёма заказов на сайте 4G.mts.by:</div>
                    <div class="time__item-right">
                        17 декабря 2015 года &#8212; 7 марта 2016 года
                    </div>
                </div>
                <div class="time__item">
                    <div class="time__item-left">Время работы #4GтаксиМТС:</div>
                    <div class="time__item-right">
                        6 дней в неделю
                        <span class="clarification">выходные дни —  Воскресенье, 1 и 2 января</span>
                    </div>
                </div>
            </div>


            <div class="questions-accord">
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как стать пассажиром #4GтаксиМТС?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">

                                Стать пассажиром #4GтаксиМТС можно одним из двух способов:<br>
1. заказать такси в службе «Пятница»( http://taxi5.by/) и стать участником совместного творческого конкурса (потенциальный участник выбирается для участия случайным образом из числа всех сделавших заказ). Автомобиль #4GтаксиМТС будет предложен сделавшему заказ, и если сделавший заказ согласится стать участником творческого конкурса (сделать и опубликовать фото с автомобилем в социальной сети), то автомобиль довезёт его до заявленного места назначения бесплатно.
<br>2. оформить заказ на сайте 4g.mts.by в рамках творческого конкурса на лучший повод для поездки на 4GтаксиМТС.</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как оформить заказ на #4GтаксиМТС на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
								Чтобы оформить заказ, напишите повод на сайте 4G.mts.by, по которому такси должно приехать именно к вам. Вы можете выбрать романтическую, фантастическую, торжественную или реальную тему для повода, затем вписать текст своего повода и добавить своё фото либо использовать стандартное фото для оформления.
<br>Поделитесь поводом в социальной сети Facebook или ВКонтакте.
<br>Впишите в специальную форму свой  номер телефона, чтобы с вами могли связаться для подтверждения заказа. </span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Заказы скольких людей, сделанных на сайте 4G.mts.by, будут выполнены?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">

                                Каждую неделю жюри проекта, состоящее из представителей компании МТС, будет отбирать авторов 10 заказов, оформленных на сайте 4G.mts.by.
                                </span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Каковы критерии выбора победителей творческого конкурса на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
								Критерий оценки работы: соответствие тематике повода, оригинальность, литературная форма, дополнительное фотооформление и убедительность раскрытия повода. Ограничение повода по размеру ― до 70 символов.
                                </span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как победитель творческого конкурса на 4G.mts.by узнает о возможности совершить поездку?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
								С победителем свяжется представитель компании МТС для передачи сертификата на поездку.
<br>Имена победителей недели будут опубликованы на сайте 4G.mts.by
                                </span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Сколько раз можно оформлять заказ на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Оформлять новый заказ для того, чтобы стать участником творческого конкурса, можно каждую неделю в течение всего времени проекта. 	</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Правила выполнения заказов #4GтаксиМТС
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
								<br>В проекте принимают участие брендированные автомобили Chevrolet Camaro и Porsche Cayenne. Ограничение по числу пассажиров: Chevrolet Camaro — 1 пассажир, Porsche Cayenne — 3 пассажира.

<br>Автомобили такси выполняют заказы  победителей и участников творческого конкурса бесплатно.

<br>Для одного участника или победителя творческого конкурса автомобиль такси совершает одну поездку по одному адресу в один конец, в пределах Минска и МКАД.

<br>С победителем творческого конкурса заказов на сайте 4G.mts.by свяжется представитель компании для того, чтобы уточнить подробности заказа. Победителю будет предложено выбрать дату и время заказа, а также автомобиль, свободный на заявленную дату.

<br>Победители творческого конкурса заказов на сайте 4G.mts.by должны оформить заказы в течение недели с момента оповещения о победе.

<br>Заказы могут быть оформлены на любую дату в течение периода проведения творческого конкурса.

<br>Автомобили такси не выполняют заказы по грузоперевозке.
                                </span>
                </a>


                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Сроки проведения творческого конкурса
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
                                С 17 декабря 2015 года по 14 марта 2016 года.
                                </span>
                </a>

                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Сроки приёма заказов на сайте 4G.mts.by
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
                             17 декабря 2015 года — 7 марта 2016 года.
                                </span>
                </a>

                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Время работы #4GтаксиМТС
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
                           6 дней в неделю, выходной день — воскресенье.
1 и 2 января 2016 года — выходные дни.
                                </span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Правила участия в проекте #4GтаксиМТС
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
                       Цель проекта #4GтаксиМТС — популяризация современных услуг связи и повышение технической грамотности граждан Беларуси. В рамках проекта у жителей и гостей Минска будет возможность бесплатно совершить поездку на брендированных автомобилях Chevrolet Camaro и Porsche Cayenne, в которых им будет предоставлена для ознакомления информация об использовании технологии 4G.


<br>Организатор творческого конкурса оставляет за собой право вносить изменения в правила в течение всего периода проведения конкурса.

<br>Организатор оставляет за собой право удалять работы участников, не соответствующие тематике конкурса, оскорбляющие честь или достоинство граждан, содержащие рекламную информацию других компаний, нарушающие законодательство Республики Беларусь.

<br>Один и тот же участник конкурса может совершить поездку не более одного раза.

<br>Присоединяясь к творческому конкурсу, участник тем самым подтверждает свое ознакомление с условиями творческого конкурса, выражает согласие с ними и принимает их.

<br>Выполнив условия участия в творческом конкурсе, участники тем самым дают согласие на обработку организатором  и/или его уполномоченным представителем их персональных данных, предоставленных в ходе участия в творческом конкурсе, включая использование указанных данных для целей оформления заказов, равно как и для целей подтверждения их подтверждения.

<br>Организатор  не несет ответственности за недостоверность и несвоевременность предоставленной участниками творческого конкурса информации, установленной настоящими правилами творческого конкурса, необходимой для совершения поездки.

<br>Организатор  оставляет за собой право отказать в выполнении заказа участникам, нарушившим положения настоящих правил, в том числе нарушившим порядок предоставления информации, необходимой для оформления заказа, равно как и участникам, не предоставившим такую информацию.

<br>Организатор  не несет ответственности за качество работы интернет-провайдеров и его влияние на взаимодействие  с оборудованием и программным обеспечением участников акции, а также за иные не зависящие от организатора обстоятельства, равно как и за все связанные с этим негативные последствия.

<br>Организатор оставляет за собой право не вступать в переписку либо в иные контакты с участниками конкурса, за исключением указанных в правилах.
                                </span>
                </a>


            </div>


            <h2 class="title">Правила участия в проекте #4GтаксиМТС</h2>

            <p>
                Цель проекта #4GтаксиМТС — популяризация современных услуг связи и повышение технической грамотности
                граждан Беларуси. В рамках проекта у жителей и гостей Минска будет возможность бесплатно совершить
                поездку на брендированных автомобилях Chevrolet Camaro и Porsche Cayenne, в которых им будет
                предоставлена для ознакомления информация об использовании технологии 4G.
            </p>
            <ul class="specification-list">
                <li>
                    Организатор творческого конкурса оставляет за собой право вносить изменения в правила в течение
                    всего периода проведения конкурса.
                </li>
                <li>
                    Организатор оставляет за собой право удалять работы участников, не соответствующие тематике
                    конкурса, оскорбляющие честь или достоинство граждан, содержащие рекламную информацию других
                    компаний, нарушающие законодательство Республики Беларусь.
                </li>
                <li>
                    Один и тот же участник конкурса может совершить поездку не более одного раза.
                </li>
                <li>
                    Присоединяясь к творческому конкурсу, участник тем самым подтверждает свое ознакомление с условиями
                    творческого конкурса, выражает согласие с ними и принимает их.
                </li>
                <li>
                    Выполнив условия участия в творческом конкурсе, участники тем самым дают согласие на обработку
                    организатором  и/или его уполномоченным представителем их персональных данных, предоставленных в
                    ходе участия в творческом конкурсе, включая использование указанных данных для целей оформления
                    заказов, равно как и для целей подтверждения их подтверждения.
                </li>
                <li>
                    Организатор  не несет ответственности за недостоверность и несвоевременность предоставленной
                    участниками творческого конкурса информации, установленной настоящими правилами творческого
                    конкурса, необходимой для совершения поездки.
                </li>
                <li>
                    Организатор  оставляет за собой право отказать в выполнении заказа участникам, нарушившим положения
                    настоящих правил, в том числе нарушившим порядок предоставления информации, необходимой для
                    оформления заказа, равно как и участникам, не предоставившим такую информацию.
                </li>
                <li>
                    Организатор  не несет ответственности за качество работы интернет-провайдеров и его влияние на
                    взаимодействие  с оборудованием и программным обеспечением участников акции, а также за иные не
                    зависящие от организатора обстоятельства, равно как и за все связанные с этим негативные
                    последствия.
                </li>
                <li>
                    Организатор оставляет за собой право не вступать в переписку либо в иные контакты с участниками
                    конкурса, за исключением указанных в правилах.
                </li>
            </ul>
        </div>
    </div>
</section>