
<section class="page-content">
    <div class="container">
        <div class="specification">
            <h2 class="title">Правила и условия</h2>
            <div class="time">
                <div class="time__item">
                    <div class="time__item-left">Сроки проведения творческого конкурса:</div>
                    <div class="time__item-right">
                        17 декабря 2015 года &#8212; 14 марта 2016 года
                    </div>
                </div>
                <div class="time__item">
                    <div class="time__item-left">Сроки приёма заказов на сайте 4G.mts.by:</div>
                    <div class="time__item-right">
                        17 декабря 2015 года &#8212; 7 марта 2016 года
                    </div>
                </div>
                <div class="time__item">
                    <div class="time__item-left">Время работы #4GтаксиМТС:</div>
                    <div class="time__item-right">
                        6 дней в неделю
                        <span class="clarification">выходные дни —  Воскресенье, 1 и 2 января</span>
                    </div>
                </div>
            </div>
            <div class="questions-accord">
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как стать пассажиром #4GтаксиМТС?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как оформить заказ на #4GтаксиМТС на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Заказы скольких людей, сделанных на сайте 4G.mts.by, будут выполнены?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Каковы критерии выбора победителей творческого конкурса на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Как победитель творческого конкурса на 4G.mts.by узнает о возможности совершить поездку?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Сколько раз можно оформлять заказ на сайте 4G.mts.by?
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
                <a href="#" class="questions-accord__item">
                    <i class="icon"></i>
                    Правила выполнения заказов #4GтаксиМТС
                    <div class="button open">
                        <div class="line left"></div>
                        <div class="line right"></div>
                    </div>
								<span class="answer">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eum, facilis. Doloremque magni eos quae eum aliquid, est illum pariatur, tenetur molestias, perspiciatis consectetur voluptate alias vel facere ab eveniet.
								</span>
                </a>
            </div>
            <h2 class="title">Правила участия в проекте #4GтаксиМТС</h2>
            <p>
                Цель проекта #4GтаксиМТС — популяризация современных услуг связи и повышение технической грамотности граждан Беларуси. В рамках проекта у жителей и гостей Минска будет возможность бесплатно совершить поездку на брендированных автомобилях Chevrolet Camaro и Porsche Cayenne, в которых им будет предоставлена для ознакомления информация об использовании технологии 4G.
            </p>
            <ul class="specification-list">
                <li>
                    Организатор творческого конкурса оставляет за собой право вносить изменения в правила в течение всего периода проведения конкурса.
                </li>
                <li>
                    Организатор оставляет за собой право удалять работы участников, не соответствующие тематике конкурса, оскорбляющие честь или достоинство граждан, содержащие рекламную информацию других компаний, нарушающие законодательство Республики Беларусь.
                </li>
                <li>
                    Один и тот же участник конкурса может совершить поездку не более одного раза.
                </li>
                <li>
                    Присоединяясь к творческому конкурсу, участник тем самым подтверждает свое ознакомление с условиями творческого конкурса, выражает согласие с ними и принимает их.
                </li>
                <li>
                    Выполнив условия участия в творческом конкурсе, участники тем самым дают согласие на обработку организатором  и/или его уполномоченным представителем их персональных данных, предоставленных в ходе участия в творческом конкурсе, включая использование указанных данных для целей оформления заказов, равно как и для целей подтверждения их подтверждения.
                </li>
                <li>
                    Организатор  не несет ответственности за недостоверность и несвоевременность предоставленной участниками творческого конкурса информации, установленной настоящими правилами творческого конкурса, необходимой для совершения поездки.
                </li>
                <li>
                    Организатор  оставляет за собой право отказать в выполнении заказа участникам, нарушившим положения настоящих правил, в том числе нарушившим порядок предоставления информации, необходимой для оформления заказа, равно как и участникам, не предоставившим такую информацию.
                </li>
                <li>
                    Организатор  не несет ответственности за качество работы интернет-провайдеров и его влияние на взаимодействие  с оборудованием и программным обеспечением участников акции, а также за иные не зависящие от организатора обстоятельства, равно как и за все связанные с этим негативные последствия.
                </li>
                <li>
                    Организатор оставляет за собой право не вступать в переписку либо в иные контакты с участниками конкурса, за исключением указанных в правилах.
                </li>
            </ul>
        </div>
    </div>
</section>