<section class="page-content">
    <div class="container">
        <h2 class="title">Победители недели 17 – 24 декабря</h2>
        <div class="members-list">
            <a href="#winner1" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Павел Рутко</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner2" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner3" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer3.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner4" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer4.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner5" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner6" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner7" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer3.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner8" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer4.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner9" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="#winner10" rel="winners-gallery1" class="member-item member-popup">
                <div class="member-item__inner">
                    <div class="member-info">
                        <div class="member-info__text">
                            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                        </div>
                    </div>
                    <div class="customer__title">Заказчик: <span>Светлана Можайкина</span></div>
                    <div class="customer__img">
                        <img src="img/content/customer2.jpg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!--POPUPS-->
<div class="dnone">
    <div id="winner1" class="member">
        <h4>Заказчик: <span>Павел Рутко</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner2" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner3" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner4" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner5" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner6" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner7" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner8" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner9" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer1.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner10" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer2.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner11" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer3.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
    <div id="winner12" class="member">
        <h4>Заказчик: <span>Светлана Можайкина</span></h4>
        <div class="member-item member-item--popup">
            <div class="member-item__inner">
                <div class="member-info">
                    <div class="member-info__text">
                        Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу
                    </div>
                </div>
                <div class="customer__img">
                    <img src="img/content/customer4.jpg" alt="">
                </div>
            </div>
        </div>
        <a href="#step1" class="btn step1">Оформить новый заказ</a>
    </div>
</div>